canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#canvas_game_conatiner {
	margin-left:100px;
	margin-top:25px;
}

.direction-buttons{
	text-align:center;
	width:480px;
}

#direction_btn {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

#direction_btn:hover {
		background-color: #56cefa;
		border-color: rgba(0,0,0,0.5);
	}

#direction_btn:active {
	background-color: #3C677B;
	border-color: rgba(0,0,0,0.9);
}

#html_game_btn {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	margin-left:225px;
}

#html_game_btn:hover {
		background-color: #87cefa;
		border-color: rgba(0,0,0,0.5);
	}

#html_game_btn:active {
	background-color: #3C677B;
	border-color: rgba(0,0,0,0.9);
}
